/* To remove default blue outline */
input[type='date']:focus {
    outline: none;
  }
  
  /*  To remove cross sign */
input[type="date"]::-webkit-clear-button {
      display: none;
  }
  
  input[type="date"]::-ms-clear {
      display: none;
  }
  
  /* To remove Spin Arrows */
  input[type="date"]::-webkit-inner-spin-button {
      display: none;
  }
  
  /* To remove Drop down Arrow */
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;  
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input::-webkit-clear-button {
    display: none;
}

.custom {
  outline: none;
}